@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Dies ist der webbasierte Editor für die App HsH2Brain</p>
    <p>(Mobile Computing, BIS-268)</p>
    <p class="small">&copy; 2020 Benjamin Bolzmann, Deniz Ulu</p>
</div>
